## Django
DEBUG=True
SECRET_KEY=change-me

## Database (existing / external)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=map_db
DB_USER=map_user
DB_PASSWORD=secure_password
DB_HOST=your-db-host.example.com
DB_PORT=5432
DB_SSLMODE=

## JWT
SIGNING_KEY=change-me-too
ACCESS_TOKEN_LIFETIME=480
REFRESH_TOKEN_LIFETIME=600
ROTATE_REFRESH_TOKENS=True
BLACKLIST_AFTER_ROTATION=False
UPDATE_LAST_LOGIN=True

## If you want a local Postgres container:
## - set DB_HOST=db and DB_PORT=5432
## - run: docker compose --profile localdb up --build

## Tunnel (localtunnel): при ENABLE_TUNNEL=1 контейнер поднимает туннель и добавляет его URL в CSRF_TRUSTED_ORIGINS
# ENABLE_TUNNEL=1
